@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins, sans-serif;
}

/************* Navbar ***************/
.navbar {
  border-bottom: #7c028c;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-link {
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 15px !important;
  color: #7c028c !important;
  line-height: 28px !important;
  margin: 0 15px;
  padding: 0;
}

.nav-link:hover {
  color: #ac6fc4 !important;
}

.nav-link-active {
  color: #ac6fc4 !important;
}

.nav-link-btn {
  text-decoration: none;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 15px !important;
  color: #7c028c !important;
  line-height: 28px !important;
  margin: 0 15px;
  padding: 0;
}

.nav-link-btn:hover {
  color: #ac6fc4 !important;
}

.nav-link-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-link-dropdown-content {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  top: 150%;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: transform 0.2s !important;
}

.nav-link-dropdown:hover .nav-link-dropdown-content {
  /* display: block; */
  visibility: visible;
  transform: translateY(-10px);
}

.nav-link-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/************* MainCarousel ***************/

.my-swiper-main-carousel {
  /* width: 1084px; */
  min-height: 100vh;
}

.my-swiper-main-carousel-slide-1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
}

.my-swiper-main-carousel-slide-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Slide001.jpg);
  filter: brightness(40%);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.my-swiper-main-carousel-slide-2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
}

.my-swiper-main-carousel-slide-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Slide002.jpg);
  filter: brightness(40%);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.slideshow-title {
  font-family: "Montserrat", Sans-serif;
  /* font-size: 40px; */
  line-height: 1.56em;
  letter-spacing: 13.75px;
  padding: 0 1rem;
}


.slideshow-text {
  /* font-size: 21px; */
  font-weight: 500;
}

.slideshow-button {
  display: inline-block;
  background-color: #7b009c;
  border-radius: 20px 20px 20px 20px;
  padding: 8px 30px 8px 30px;
  /* font-size: 22px; */
  font-weight: 600;
  letter-spacing: 3.8px;
  margin: 1em 0;
  color: #fff;
  box-shadow: none;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: transform;
  box-sizing: border-box;
  cursor: pointer;
}

.slideshow-button:hover {
  transform: scale(1.1);
  background-color: #23a455;
  color: #fff;
  /* transition-duration: 0.3s;
  transition-property: transform;
  
  border-radius: 20px 20px 20px 20px;
  padding: 10px 30px 10px 30px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3.8px;
  text-decoration: none;
  margin: 1.5em 0 0;
  color: #fff; */
}


/* .slideshow-content-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
} */

/* .my-swiper-main-carousel-slide-content {
  text-align: center;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
} */

/************* Feedback ***************/

.my-swiper-feedback {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.my-swiper-slide-feedback {
  /* width: 300px; */
  /* height: 300px; */
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.icon {
  background-color: #f8fafc;
  -webkit-box-shadow: 0px 3px 7px 0px rgb(26 38 74 / 15%);
  box-shadow: 0px 3px 7px 0px rgb(26 38 74 / 15%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -35px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  text-align: center;
}

/************* GoogleReviews ***************/

.google-rating {
  color: #e7711b;
  font-size: 20px;
  font-weight: 600;
  margin: 0 6px 0 0;
  vertical-align: middle;
  font-weight: 700;
}

.google-powered {
  color: #777;
  margin: 0px 0 0;
}

.company-link-in-google-map {
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.google-time {
  color: #999;
  font-size: 13px;
}

.google-name {
  font-weight: 500;
  color: #427fed;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/************* Resources ***************/
.post_time {
  text-decoration: none;
  font-size: 14px;
  color: #7b7b93;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
}

.post_title {
  line-height: 1.3em;
  text-decoration: none;
  color: #2c2c51;
}

.post_title :hover {
  color: #5e2ced;
}

.post_title_text {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
}

.learn_btn_two {
  box-shadow: none;
  text-decoration: none;
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
  color: #7b7b93;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.2s ease;
  position: relative;
}

.learn_btn_two:hover {
  color: #5f54fd;
}

.post-info-comments {
  box-shadow: none;
  text-decoration: none;
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
  color: #7b7b93;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.2s ease;
  position: relative;
}

.post-info-comments:hover {
  color: #5f54fd;
}

/************* Footer ***************/
.all-rights-reserved {
  color: #bab5df;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer-bottom {
  background-image: url("/9597-Converted-001-min.png"),
    url("/9597-Converted-002-min.png"), url("/9597-Converted-003-min.png");
  background-position: left bottom, center bottom, right bottom;
  background-repeat: no-repeat;
}
